<div class="jeopardy-question-container">
  <div class="jeopardy-category">
    <app-jeopardy-card [text]="'100'"></app-jeopardy-card>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card [text]="'200'"></app-jeopardy-card>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card [text]="'300'"></app-jeopardy-card>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card [text]="'400'"></app-jeopardy-card>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card [text]="'500'"></app-jeopardy-card>
  </div>
</div>