<div class="jeopardy-category-container">
  <div class="jeopardy-category">
    <app-jeopardy-card class="jeopardy-category" [text]="'det løse'"></app-jeopardy-card>
    <app-jeopardy-questions></app-jeopardy-questions>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card class="jeopardy-category" [text]="'noget med hest'"></app-jeopardy-card>
    <app-jeopardy-questions></app-jeopardy-questions>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card class="jeopardy-category" [text]="'alt godt fra havet'"></app-jeopardy-card>
    <app-jeopardy-questions></app-jeopardy-questions>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card class="jeopardy-category" [text]="'det må du ikke sige'"></app-jeopardy-card>
    <app-jeopardy-questions></app-jeopardy-questions>
  </div>
  <div class="jeopardy-category">
    <app-jeopardy-card class="jeopardy-category" [text]="'kun forkerte svar'"></app-jeopardy-card>
    <app-jeopardy-questions></app-jeopardy-questions>
  </div>

</div>